*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-top: 25px;
    margin: 0 auto;
    width: 70%;
    font-family:Arial, Helvetica, sans-serif
    
}
.flex{
    display: flex;
}
.title{
color:#133c8a;
font-size: 30px;
padding-top: 15px;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
}
.bottom-nav-flex{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 15px;
}
.input{
   
   width: 150px;
   height: 15px;
}
.input-select{
    width: 155px;
    height: 20px;  
    margin-right: 15px;
}
.bold-text{
    font-size: 20px;
}
.flex-in-article{
    display: flex;
    justify-content: space-between;
}
#buyBtn{
    background-image: url(/images/button_buy_blank.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    text-shadow: #404040 1px 1px 1px;
    font-size: 13pt;
    font-family: Helvetica,Arial,sans;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-left: 42px;
    line-height: 76px;
}
#downloadBtn{
    
        background-image: url(/images/button_download_blank.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        text-shadow: #404040 1px 1px 1px;
        font-size: 13pt;
        font-family: Helvetica,Arial,sans;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: block;
        padding-left: 42px;
        line-height: 76px;
    
}
.text{
    
    top: 50%;
    left: 50%;
    

}
.links{
  padding-top: 5px;
  padding-left: 56px;
}

.nav-link{
    color:#133c8a;
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 8px;
 padding-bottom: 8px;
 border-radius: 8px;
    text-decoration: none;
    font-family: verdana,arial,helvetica !important;
    font-size: 15px;
}
.nav-link:hover{
    background-color: #e1dfe0;
    text-decoration: underline;
}
.side-text{
    text-align: end;
    color: rgb(161, 160, 160);
    margin-top: 20px;
    margin-right: 10px;
}
.inner-text{
    margin-bottom: 10px;
}
.inner-text a{
    color: rgb(136, 136, 136);
    font-size: small;
   
}

nav{

    border-bottom:5px solid #133c8a ;
}
img{
    display: block;
}
label{
    font-size: small;
    color: gray;
}